body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    align-items: center;
    margin-top: 20px;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    border: 1px solid black;
}

button {
    padding: 10px 25px;
    border-radius: 8px;
    border-color: white;
    font-size: 20px;
}

#black {
    background-color: black;
    color: white;
}

#rainbow {
    background-color: #ff00d0;
    color: rgb(255, 255, 255);
}

#reset {
    background-color: rgb(0, 98, 255);
    color: white;
}

#pop-up {
    background-color: rgb(255, 0, 0);
    color: white;
}